.App {
  background-color: #232323;
}
.filter {
  background-color: #131313;
  margin-top: 40px;
  margin-left: 40px;
  border-radius: 15px;
  width: 228px;
  height: 275px;
}
.filter-left {
  font-size: 20px;
  color: #a5a5a5;
  font-weight: 300;
  padding-top: 24px;
  margin-left: 30px;
}
hr {
  color: #a5a5a5;
  width: 158px;
  border: 1px solid;
  margin-left: 30px;
}
.drop {
  background-color: #232323;
  border-color: #232323;
  color: #ffffff;
  font-weight: 400;
  font-size: 17px;
  border-radius: 5px;
  margin-top: 12px;
  width: 168.45px;
  height: 37.5px;
}
.title {
  font-weight: 700;
  color: #ffffff;
  margin-top: 40px;
  margin-left: 14px;
  font-size: 35px;
}
.Product-container {
  margin-bottom: 75px;
}
.products {
  font-weight: 500;
  font-size: 25px;
  color: #ffffff;
  opacity: 50%;
  margin-left: 14px;
  width: 97px;
  margin-top: 21px;
}
.productName {
  font-size: 20px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-left: 14px;
  margin-top: 21px;
}
.hr {
  color: #a5a5a5;
  width: 100%;
  border: 1px solid;
  margin-left: 14px;
}
.productName2 {
  font-size: 20px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-left: 14px;
  margin-top: 45px;
}
.Product-Container {
  background-color: #131313;
  border-radius: 15px;
  margin-left: 10px;
  margin-top: 12px;
}
.Single-product {
  background-color: #232323;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
img {
  border-radius: 5px;
  margin-top: 13px;
}
.ProductName {
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 13px;
}
.brandName {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  opacity: 60%;
  margin-top: 10px;
}
.price {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 13px;
}
span {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 13px;
}
.discription {
  font-size: 11px;
  font-weight: 400;
  color: #ffffff;
  opacity: 60%;
}
.location {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  opacity: 60%;
  margin-top: 13px;
}
#date {
  font-size: 11px;
  color: #ffffff;
  opacity: 60%;
  font-weight: 400;
}
.Date {
  font-size: 13px;
  color: #ffffff;
  opacity: 60%;
  font-weight: 500;
}
